<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/added_student" method="POST">
      <label>Enter GitHub username</label>
          <input type="text" name="github" id="github" value={{github}}>
      <label>Enter first name</label>
        <input type="text" name="first_name" id="first_name"> 
      <label>Enter last name</label>
            <input type="text" name="last_name" id="last_name">
      <input type="submit" value="Add Student">
  </form>

</body>
</html>